[$Version]
update_info=kwin.upd:replace-scalein-with-scale,kwin.upd:port-minimizeanimation-effect-to-js,kwin.upd:port-scale-effect-to-js,kwin.upd:port-dimscreen-effect-to-js,kwin.upd:auto-bordersize,kwin.upd:animation-speed,kwin.upd:desktop-grid-click-behavior,kwin.upd:no-swap-encourage

[Compositing]
Backend=XRender
HiddenPreviews=6
LatencyPolicy=Low
OpenGLIsUnsafe=false
XRenderSmoothScale=true

[Desktops]
Id_1=d762915d-c3a0-49e6-853e-5c82de523950
Id_2=cca9f514-c126-401c-9e3a-61f64c4cf172
Id_3=be95f23b-b8a4-41e2-b926-5050c635b508
Name_1=div
Name_2=master
Name_3=113
Number=3
Rows=1

[Effect-Blur]
BlurStrength=11
NoiseStrength=2

[Effect-Slide]
Duration=790
HorizontalGap=0
VerticalGap=0

[ModifierOnlyShortcuts]
Meta=org.kde.lattedock,/Latte,org.kde.LatteDock,activateLauncherMenu

[Plugins]
bismuthEnabled=true
force-decorations-gtk3Enabled=false
forceblurEnabled=false
highlightwindowEnabled=true
krohnkiteEnabled=false
kwin4_effect_squashEnabled=false
kwin4_effect_translucencyEnabled=false
lattewindowcolorsEnabled=true
magiclampEnabled=true
minimizeallEnabled=false
sheetEnabled=true
synchronizeskipswitcherEnabled=false
videowallEnabled=false
wobblywindowsEnabled=true

[Script-bismuth]
enableSpiralLayout=false
enableSpreadLayout=false
enableStairLayout=false
screenGapBottom=9
screenGapLeft=9
screenGapRight=9
screenGapTop=9
tileLayoutGap=9

[Script-desktopchangeosd]
PopupHideDelay=700

[Script-forceblur]
patterns=yakuake\nurxvt\nkeepassxc\ncode-oss\nSpotify\nkitty

[Script-krohnkite]
directionalKeyDwm=false
directionalKeyFocus=true
enableSpreadLayout=false
enableStairLayout=false
limitTileWidth=true
limitTileWidthRatio=1.5
screenGapBottom=10
screenGapLeft=10
screenGapRight=10
screenGapTop=10
tileLayoutGap=16

[TabBox]
ActivitiesMode=0
DesktopLayout=org.kde.breeze.desktop
DesktopListLayout=org.kde.breeze.desktop
LayoutName=org.kde.breeze.desktop
MinimizedMode=2

[TabBoxAlternative]
LayoutName=compact
MinimizedMode=1

[Windows]
FocusStealingPreventionLevel=2

[org.kde.kdecoration2]
BorderSize=Tiny
BorderSizeAuto=false
