[$Version]
update_info=kwin.upd:replace-scalein-with-scale,kwin.upd:port-minimizeanimation-effect-to-js,kwin.upd:port-scale-effect-to-js,kwin.upd:port-dimscreen-effect-to-js,kwin.upd:auto-bordersize,kwin.upd:animation-speed,kwin.upd:desktop-grid-click-behavior,kwin.upd:no-swap-encourage

[Compositing]
Backend=XRender
Enabled=false
HiddenPreviews=6
LatencyPolicy=Low
OpenGLIsUnsafe=false
XRenderSmoothScale=true

[Desktops]
Id_1=d762915d-c3a0-49e6-853e-5c82de523950
Id_2=79478025-f271-443a-965a-bf190a272ca3
Id_3=cca9f514-c126-401c-9e3a-61f64c4cf172
Id_4=be95f23b-b8a4-41e2-b926-5050c635b508
Name_1=div
Name_2=react native
Name_3=master
Number=4
Rows=1

[Effect-Blur]
BlurStrength=11
NoiseStrength=2

[Effect-Slide]
Duration=790
HorizontalGap=0
VerticalGap=0

[ModifierOnlyShortcuts]
Meta=org.kde.lattedock,/Latte,org.kde.LatteDock,activateLauncherMenu

[Plugins]
desktopchangeosdEnabled=true
force-decorations-gtk3Enabled=true
forceblurEnabled=false
highlightwindowEnabled=true
krohnkiteEnabled=true
kwin4_effect_squashEnabled=false
kwin4_effect_translucencyEnabled=false
lattewindowcolorsEnabled=true
magiclampEnabled=true
minimizeallEnabled=false
sheetEnabled=true
synchronizeskipswitcherEnabled=false
videowallEnabled=false
wobblywindowsEnabled=true

[Script-desktopchangeosd]
PopupHideDelay=700
TextOnly=true

[Script-forceblur]
patterns=yakuake\nurxvt\nkeepassxc\ncode-oss\nSpotify\nkitty

[Script-krohnkite]
directionalKeyDwm=false
directionalKeyFocus=true
enableSpreadLayout=false
enableStairLayout=false
limitTileWidth=true
monocleMaximize=false
screenGapBottom=7
screenGapLeft=7
screenGapRight=7
screenGapTop=7
tileLayoutGap=16

[TabBox]
ActivitiesMode=0
DesktopLayout=org.kde.breeze.desktop
DesktopListLayout=org.kde.breeze.desktop
LayoutName=org.kde.breeze.desktop
MinimizedMode=2

[TabBoxAlternative]
LayoutName=compact
MinimizedMode=1

[org.kde.kdecoration2]
BorderSizeAuto=false
library=org.kde.breeze
theme=Breeze
